body {
  font-family: "Quattrocento", serif;
  margin: 0 10%;
}

.container {
  border: 2px solid gray;
  padding: 10px;
  margin: 10px auto;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: block;
  margin: 20px auto;
  padding-top: 5px;
  width: 32%;
  text-align: center;
  min-height: 100px;
}

.coral {
  background-color: coral;
  color: aliceblue;
}

.mint {
  background-color: #a8ead4;
}

.light-blue {
  background-color: #a8eae5;
}

.light-purple {
  background-color: #e5c9de;
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.quattrocento {
  font-family: "Quattrocento", serif;
}

.open-sans {
  font-family: "Open Sans Condensed", sans-serif;
}

.staatliches {
  font-family: "Staatliches", cursive;
}

.text-panel h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}

.text-panel h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: "Quattrocento", serif;
}

.text-panel p {
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans Condensed", sans-serif;
}
